@page
@model MoldingProjectControlWebApp.Pages.SoftwareUsedPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>نرم افزار استفاده شده</h1>

<h4>ویرایش</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblSoftwareUsed.FldSoftwareUsedId" />
            <div class="form-group">
                <label asp-for="TblSoftwareUsed.FldSoftwareUsedTxt" class="control-label">نرم افزار استفاده شده</label>
                <input asp-for="TblSoftwareUsed.FldSoftwareUsedTxt" class="form-control" />
                <span asp-validation-for="TblSoftwareUsed.FldSoftwareUsedTxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblSoftwareUsed.FldSoftwareUsedManufacturer" class="control-label">تولیدکننده نرم افزار استفاده شده</label>
                <input asp-for="TblSoftwareUsed.FldSoftwareUsedManufacturer" class="form-control" />
                <span asp-validation-for="TblSoftwareUsed.FldSoftwareUsedManufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">انواع فایل های پروژه</label>
                @Html.ListBoxFor(x => x.softwareUsedProjectFileTypeVM.SelectedIds, Model.softwareUsedProjectFileTypeVM.Items,
               new { @class = "form-control", multiple = "multiple", id = "softwareUsedProjectFileType-dropdown" })
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#softwareUsedProjectFileType-dropdown").multiselect({
                enableFiltering: true,
                buttonWidth: '100%',
                buttonClass: 'btn btn-outline-secondary',
                nonSelectedText: 'موردی انتخاب نشده',
                filterPlaceholder: 'جستجو',
                allSelectedText: "همه موارد انتخاب شده",
                nSelectedText: "مورد انتخاب شده",
            });
        });
    </script>
}
