@page
@model ProjectManagementWebApp.Pages.WorkpiecePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>قطعه کار</h1>

<h4>ویرایش</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblWorkpiece.FldWorkpieceId" />
            <div class="form-group">
                <label asp-for="TblWorkpiece.FldWorkpieceTxt" class="control-label">قطعه کار</label>
                <input asp-for="TblWorkpiece.FldWorkpieceTxt" class="form-control" />
                <span asp-validation-for="TblWorkpiece.FldWorkpieceTxt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TblWorkpiece.FldWorkpieceIsCombination" /> ترکیبی
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
