@page
@model MoldingProjectControlWebApp.Pages.WorkpieceDtlPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>آیا از حذف فایل مطمئن می‌باشید؟</h3>
<div>
    <h4>جزئیات قطعه کار</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            قطعه کار
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblWorkpieceDtl.FldWorkpiece.FldWorkpieceTxt)
        </dd>
        <dt class="col-sm-2">
            اجزای تشکیل دهنده
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblWorkpieceDtl.FldWorkpieceCompositionComponents.FldWorkpieceTxt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblWorkpieceDtl.FldWorkpieceDtlId" />
        <input type="submit" value="حذف" class="btn btn-danger ml-1 mr-1" />
        <a asp-page="./Index">انصراف</a>
    </form>
</div>
