@page
@model MoldingProjectControlWebApp.Pages.WorkpieceDtlPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>جزئیات قطعه کار</h1>

<h4>ویرایش</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblWorkpieceDtl.FldWorkpieceDtlId" />
            <div class="form-group">
                <label asp-for="TblWorkpieceDtl.FldWorkpieceId" class="control-label">قطعه کار</label>
                <select asp-for="TblWorkpieceDtl.FldWorkpieceId" class="form-control" asp-items="ViewBag.FldWorkpieceId"></select>
                <span asp-validation-for="TblWorkpieceDtl.FldWorkpieceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblWorkpieceDtl.FldWorkpieceCompositionComponentsId" class="control-label">اجزای تشکیل دهنده</label>
                <select asp-for="TblWorkpieceDtl.FldWorkpieceCompositionComponentsId" class="form-control" asp-items="ViewBag.FldWorkpieceCompositionComponentsId"></select>
                <span asp-validation-for="TblWorkpieceDtl.FldWorkpieceCompositionComponentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
