@page
@model MoldingProjectControlWebApp.Pages.WorkpiecePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>قطعه کار</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                قطعه کار
            </th>
            <th>
                ترکیبی
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblWorkpiece) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldWorkpieceTxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldWorkpieceIsCombination)
            </td>
            <td>
                <a class="btn btn-warning text-white btn-block" asp-page="./Edit" asp-route-id="@item.FldWorkpieceId"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-block" asp-page="./Delete" asp-route-id="@item.FldWorkpieceId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-link" asp-page="../Index">بازگشت</a>
