@page
@model MoldingProjectControlWebApp.Pages.CommunicationStepPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>ویرایش</h1>

<h4>مرحله ارتباط</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblCommunicationStep.FldCommunicationStepId" />
            <div class="form-group">
                <label asp-for="TblCommunicationStep.FldTypeOfCommunicationStepId" class="control-label"></label>
                <select asp-for="TblCommunicationStep.FldTypeOfCommunicationStepId" class="form-control" asp-items="ViewBag.FldTypeOfCommunicationStepId">نوع مرحله ارتباط</select>
                <span asp-validation-for="TblCommunicationStep.FldTypeOfCommunicationStepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCommunicationStep.FldImplementationStepsId" class="control-label">مرحله پیاده سازی </label>
                <select asp-for="TblCommunicationStep.FldImplementationStepsId" class="form-control" asp-items="ViewBag.FldImplementationStepsId"></select>
                <span asp-validation-for="TblCommunicationStep.FldImplementationStepsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCommunicationStep.FldImplementationStepsRelatedId" class="control-label">مرحله پیاده سازی مرتبط</label>
                <select asp-for="TblCommunicationStep.FldImplementationStepsRelatedId" class="form-control" asp-items="ViewBag.FldImplementationStepsRelatedId"></select>
                <span asp-validation-for="TblCommunicationStep.FldImplementationStepsRelatedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
